language: rust
cache: cargo
sudo: required

rust:
  - nightly

services:
  - docker

script:
  - cargo build --verbose
  - cargo test --verbose
  - docker run --rm -it -v "$HOME/.cargo/registry":/home/rust/.cargo/registry -v "$(pwd)":/home/rust/src ekidd/rust-musl-builder:nightly /bin/bash -c "rustup update; cargo build --verbose --release"

after_success:
  - docker build --pull -t docker.io/tisoft/debitoor-extensions:latest .
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
  - docker push docker.io/tisoft/debitoor-extensions:latest